.container-login {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 30px;
  text-align: center;
  width: 450px;
}

@media screen and (max-width: 500px) {
  .container-login {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .container-login {
    width: 250px;
  }
}

.container-login img {
  margin-top: 30px;
  width: 60%;
}

.form-login {
  margin-bottom: 40px;
  margin-top: 30px;
}

.form-login label, input, button {
  display: block;
  text-align: left;
  width: 100%;
}

.form-login label {
  font-size: .8rem;
  font-weight: bold;
}

.form-login input {
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid #323232;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 10px;
}

.form-login input:focus {
  border-bottom: 2px solid #028509;
}

.button-login {
  background-color: #028509;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.button-login:hover {
  background-color: #1aa821;
  transition: .5s;
}